@using FruitShopSolution.ViewModel.Catalog.Users;
@{
    UserViewModel user = ViewBag.User;
}
@{
    ViewData["Title"] = "Sản Phẩm";
    int count = ViewBag.ProductsCount;
}
@await Html.PartialAsync("_HeaderLayout", new ViewDataDictionary(ViewData) { { "UserLogin", user }, { "Count", count } })
<div class="wrapper">
    <div class="sidebar">
        <h1><i class="fa fa-address-card-o"></i> &nbsp;TNT FRUIT</h1>
        <ul>
            <li class="choice"><a href="Profile.php?action=info"><i class="fa fa-home"></i> &nbsp;Thông Tin</a></li>
            <li class="choice <?php if($action == 'user'){echo " active";} ?>"><a href="Profile.php?action=user"><i class="fa fa-user"></i> &nbsp;Hồ Sơ</a></li>
            <li class="choice <?php if($action == 'order'){echo " active";} ?>"><a href="Profile.php?action=order"><i class="fa fa-cart-arrow-down"></i> &nbsp;Đơn Hàng</a></li>
            <li class="choice <?php if($action == 'history'){echo " active";} ?>"><a href="Profile.php?action=history"><i class="fa fa-history"></i> &nbsp;Lịch Sử MH</a></li>
            <li><a href="Login.php?module=logout" style="font-weight: bolder"><i class="fa fa-sign-out"></i> &nbsp;Đăng Xuất</a></li>
         
        </ul>
        <!-- <div class="social_media">
            <a href="#"><i class="fa fa-facebook-f"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div> -->
    </div>


    <div class="main_content">
        <div class="header-1">
            <h3>Chào <?= $_SESSION['login']['Acc_Username'] ?>, chúc bạn một ngày mới tốt lành nhé!  &nbsp;<i class="fa fa-smile-o"></i></h3>
            <span class="Time" id="Time">
                <i class="fa fa-calendar"></i> &nbsp;
                @* <?php
                    $date = getdate();
                    $thu = array
                    (
                    "Monday" => "Thứ 2",
                    "Tuesday" => "Thứ 3",
                    "Wednesday" => "Thứ 4",
                    "Thursday" => "Thứ 5",
                    "Friday" => "Thứ 6",
                    "Saturday" => "Thứ 7",
                    "Sunday" => "Chủ Nhật"
                    );
                    $thutrongtuan = $date['weekday'];
                    echo $thu[$thutrongtuan] . ", ngày " . $date['mday'] . ", tháng " . $date['mon'] . ", năm " . $date['year'];
                    ?>*@
                @DateTime.Now
            </span>
        </div>

        @*<div class="info">
                <div class="content">
                    <?php
                    if($action == 'info')
                    {
                    include './Profile_Functions/Profile_Info.php';
                    }
                    else if($action == 'user')
                    {
                    include './Profile_Functions/Profile_User.php';
                    }
                    else if($action == 'order')
                    {
                    include './Profile_Functions/Profile_Order.php';
                    }
                    else if($action == 'history')
                    {
                    include './Profile_Functions/Profile_History.php';
                    }
                    else
                    {
                    include './Profile_Functions/Profile_Info.php';
                    }
                    ?>
                </div>
            </div>*@
    </div>
</div>



<!-- To top-->
<a rel="external" href="#" class="to-top">
    <i class="fa fa-arrow-circle-up"></i>
</a>


<script src="../JAVASCRIPT/main.js"></script>
